<div class="container">
<div align="center">
<br>
<br>
<h1>SAMOTHRACIAN NETWORKS</h1>
<p>This website discusses networks of Samothracian Inscriptions and the Argonauts.<br/><%= link_to 'Admin', "/admin" %></p>
</div>
</div>